@import url("https://fonts.googleapis.com/css?family=Jura:400");
* {
	font-family: Jura, Arial;
	font-weight: 400;
}
body {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

section#order-for-list form {
	grid-column: 2;
	grid-row: 2;
	display: grid;
	grid-gap: 10px;
	margin: auto 0;
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 0px;
	box-shadow: 0 32px 64px rgba(0, 0, 0, 0.2);
}
section#order-for-list ul li h2 {
	margin-bottom: 5px;
	text-align: center;
	text-shadow: 0 4px 16px #fff;
	font-size: 30px;
	font-weight: 100;
}
section#order-for-list form fieldset {
	margin: 0;
	background-color: #fff;
	border: none;
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
section#order-for-list form fieldset ul {
	margin: 0;
	padding: 0;
}
section#order-for-list form fieldset ul li {
	display: grid;
	align-items: center;
	margin: 10px;
	display: inline-block;
}

section#order-for-list ul {
	margin: 0;
	padding: 0;
}
section#order-for-list ul li {
	display: grid;
	align-items: center;
	margin: 10px;
	display: inline-block;
}

section#order-for-list form fieldset ul li a {
	color: #02c;
}
section#order-for-list form fieldset ul li em {
	grid-column: span 2;
	text-align: center;
	padding: 5px;
}
section#order-for-list form fieldset ul li label {
	text-align: left;
	padding-bottom: 2px;
}
section#order-for-list form fieldset ul li input {
	padding: 5px;
	border: 1px solid #ddd;
	border-radius: 5px;
}
section#order-for-list form fieldset ul li input:hover {
	border: 1px solid #aaf;
}
section#order-for-list form button {
	padding: 10px;
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius: 5px;
	background: #fff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
section#order-for-list form button:hover {
	background-color: #eef;
	border: 1px solid #aaf;
}

@media only screen and (min-width: 420px) {
	form h2 {
		font-size: 40px;
	}
	form fieldset ul li {
		grid-template-columns: 100px 1fr;
	}
	form fieldset ul li label {
		padding-right: 10px;
		padding-bottom: 0;
		text-align: right !important;
	}
}
@keyframes Gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
 