@import url("https://fonts.googleapis.com/css?family=Jura:400");
* {
    font-family: Jura, Arial;
    font-weight: 400;
}
body {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

section#product {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #794bc4, #23d5ab);
    background-size: 400% 400%;
    animation: Gradient 10s ease infinite;
    width: 100%;
    height: 150vh;
}

section#product button {
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
section#product button:hover {
    background-color: #eef;
    border: 1px solid #aaf;
}


section#product form {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-gap: 10px;
    margin: 20;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 32px 64px rgba(0, 0, 0, 0.2);
}

section#product form fieldset {
    margin: 0;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

section#product form fieldset ul {
    margin: 0;
    padding: 0;
}
section#product form fieldset ul li {
    display: grid;
    align-items: center;
    margin: 10px;
}
section#product form fieldset ul li a {
    color: #02c;
}
section#product form fieldset ul li em {
    grid-column: span 2;
    text-align: center;
    padding: 5px;
}
section#product form fieldset ul li label {
    text-align: left;
    padding-bottom: 2px;
}
section#product form fieldset ul li input {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
section#product form fieldset ul li input:hover {
    border: 1px solid #aaf;
}
section#product form button {
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
section#product form button:hover {
    background-color: #eef;
    border: 1px solid #aaf;
}

@media only screen and (min-width: 420px) {
    form h2 {
        font-size: 40px;
    }
    form fieldset ul li {
        grid-template-columns: 100px 1fr;
    }
    form fieldset ul li label {
        padding-right: 10px;
        padding-bottom: 0;
        text-align: right !important;
    }
}
@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
 